# Site Settings - Updated
title: "Utkarsh Pandya"
name: "Utkarsh Pandya"
description: "Data Analytics | Business Analyst | Project Manager | Supply Chain & Process Improvement Specialist"
url: "https://upp275.github.io"
baseurl: ""
repository: "upp275/upp275.github.io"

# Theme (using local files)
minimal_mistakes_skin: "dark"

# Additional skins for dynamic switching
skins:
  air: "air"
  dark: "dark"

# Site Author
author:
  name: "Utkarsh Pandya"
  avatar: "/assets/images/profile-photo.jpg"
  bio: "Data Analytics & Business Process Improvement Specialist"
  location: "Ahmedabad, India | Sydney, Australia"
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/upp275/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/upp275"

# Site Footer
footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/upp275/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/upp275"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache



# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      sidebar:
        nav: "main"
  # Global defaults
  - scope:
      path: ""
    values:
      sidebar:
        nav: "main"