/* Basic styles */
body {
    font-family: "Segoe UI", "Calibri", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    display: flex;
    max-width: 100%;
    margin: 0;
    background-color: #fff;
}

/* Left column */
.left-column {
    background-color: #36454F; /* Charcoal */
    color: #f2f2f2;
    padding: 40px;
    width: 35%;
}

.left-column h2 {
    font-size: 1.2em;
    color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.left-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-column li {
    margin-bottom: 10px;
    font-size: 0.9em;
    line-height: 1.6;
}

/* Right column */
.right-column {
    padding: 40px;
    flex: 1;
}

.right-column h1 {
    color: #36454F;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 600;
}

.right-column header p {
    font-size: 1.1em;
    margin-bottom: 20px;
}


.right-column h2 {
    color: #36454F;
    border-bottom: 2px solid #36454F;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.summary ul, .experience ul {
    padding-left: 20px;
}

.summary li, .experience li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.experience article {
    margin-bottom: 20px;
}

.experience h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 5px;
}

.experience p {
    margin: 0 0 5px 0;
}

.page-break {
    page-break-after: always;
}

